<div align="center">
    <h1>User List</h1>
<h3>{{form.message}}</h3>
    <table>
        <tr>
            <th>First Name</th>
            <td><input type="text" name="firstName" [(ngModel)]="form.searchParam.firstName"
                    placeholder="search by firstName"></td>
            <th>Last Name</th>
            <td><input type="text" name="lastName" [(ngModel)]="form.searchParam.lastName"
                    placeholder="search by lastName"></td>
            <th>Role</th>
            <td>
                <select name="roleId" [(ngModel)]="form.searchParam.roleId">
                    <option [ngValue]="" value="undefined">{{'---------Select Role---------' }}</option>
                    <option [value]="1">admin</option>
                    <option [value]="2">student</option>
                    <option [value]="3">faculty</option>
                    <option [value]="4">college</option>
                    <option [value]="5">kiosk</option>
                </select>
            </td>
            <td><button (click)="search()">search</button></td>
        </tr>
    </table>
    <table width="100%" border="1px">

        <tr style="background-color: skyblue;">
            <th>Select</th>
            <th>Id</th>
            <th>Image</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Login</th>
            <!-- <th>Role Name</th> -->
            <th>Dob</th>
            <th>Edit</th>
        </tr>
        <tr *ngFor="let user of form.list" align="center">
            <td align="center"><input type="checkbox" (change)="onCheckboxChange(user.id)"></td>
            <td>{{user.id}}</td>
            <td><img src="http://localhost:8081/User/profilePic/{{user.id}}" height="65px" width="80px"></td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.loginId}}</td>
            <!-- <td>{{user.roleName}}</td> -->
            <td>{{user.dob | date: 'yyyy-MM-dd'}}</td>
             <td><a (click)="edit('/user/' + user.id)"><span style="color: blue;">Edit</span></a></td>
        </tr>
    </table>
    <table width="100%">
        <tr>
            <td><button [disabled]="form.pageNo == 0" (click)="previous()">previous</button></td>
            <td><button (click)="delete()">delete</button></td>
            <td align="right"><button [disabled]="form.list.length < 5" (click)="next()">next</button></td>
        </tr>
    </table>
</div>