<div align="center">
    <h1>User List</h1>

    <table>
        <tr>
            <th>First Name</th>
            <td><input type="text" name="firstName" [(ngModel)]="form.searchParam.firstName"
                    placeholder="search by firstName">&nbsp;&nbsp;<input type="text" name="lastName" [(ngModel)]="form.searchParam.lastName"
                    placeholder="search by lastName">
                <button (click)="search()">search</button>
            </td>
        </tr>
    </table>
    <br>

    <table width="100%" border="1px">

        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Login</th>
            <th>DOB</th>
            <th>Role Name</th>
        </tr>
        <tr *ngFor="let user of form.list" align="center">
            <td>{{user.id}}</td>
            <td><img src="http://localhost:8081/User/profilePic/{{user.id}}" height="70px" width="80px"></td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.loginId}}</td>
            <td>{{user.dob | date : 'dd/MM/yyyy'}}</td>
            <td>{{user.roleName}}</td>
        </tr>

    </table>

</div>